
// 引入头部与子导航样式
@import "./template.less";
        
// 引入尾部的样式
@import "./footer.less";
@import "./sidebar.less";
.Personal-Center{
        margin-top: 20px;  
        // 右侧主体
        .Right-body{
            font-size:12px;
            #btn{
                position: absolute;
                left:15px;
                top:0px;
                display: none;
            }
            .panel-default{
                padding:15px;
                .panel-heading{
                    background-color: transparent;
                    border-color: transparent;
                    
                    img{
                        margin-bottom:10px;
                        width:80px;
                    }
                    .text-content{
                        padding-left:0px;
                    }
                }
                .panel-body{
                    border-top:1px solid #ddd;
                    border-bottom:1px solid #ddd;
                    .top{
                        font-size:14px;
                        span{
                            color:#337ab7;                            
                        }
                    } 
                    .main-content{
                        margin:30px 0;
                        div{
                            &:nth-child(1){
                                text-align: right;
                            }
                        }                        
                    } 
                    .bottom{
                        font-size:10px;                        
                        div{
                            background: url(../../../images/shiming.png)no-repeat left top;
                            padding-left:60px;     
                            &:nth-of-type(2){
                                background: url(../../../images/shouji.jpg)no-repeat left top;
                            } 
                            &:nth-of-type(3){
                                background: url(../../../images/youxiang.jpg)no-repeat left top;
                            }
                            &:nth-of-type(4){
                                background: url(../../../images/baozhan.jpg)no-repeat left top;
                            }                                                 
                        }
                        p{                           
                            line-height:14px;                        
                        }
                    }               
                   
                }
            }
        }
}

// 在超小屏下的显示
@media screen and(max-width:768px){
    .Personal-Center{        
        height:700px;
        position:relative;
        left:0;
        transition:all 1s;//过渡效果
        #Sidebar{
            position:absolute;
            left: 0px;           
        }
        .Right-body{
            position:absolute;
            right:-50%;
            #btn{
                display:inline-block;
            }
        }      
       
    }
    .Personal-Center.active{
        left:-50%;
    }
}

